.contenedor-input { 
  width: 100%;
  position: relative; 
  margin: 0 auto ;
  text-align: center;
}

.contenedor-input input { 
  width: 72%;
  line-height: 2em;
  border: 1px var(--oscuro1) solid;
  border-radius: .5em;
  background-color: var(--claro1);
  text-indent: 2em;
  font-family:  FontAwesome, sans-serif;
}

.contenedor-input .fa-search { 
  position: relative;
  left: 3em;
  font-size: 1.2em;
}

input::placeholder, input {
  display: inline-block;
  margin: 10px;
  font-size: 20px;
  color: #000;
}

.contenedor-columnas-establecimientos {
  padding: 2em;
  text-align: center;
}

.establecimientos-imagen img {
  width: 100%;
  max-width: 20em;
  height: 15.625em;
  border: 1px #000 solid;
  border-radius: 10px;
  object-fit: contain;
}

.establecimientos-descripcion {
  box-sizing: border-box;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  padding-bottom: 1em;
}

.establecimientos-descripcion > * {
  padding: .3em;
}

#sin-resultados {
  display: none;
  color: #cc2121;
  font-size: 2em;
  padding: 2em 0;
  text-align: center;
}

/* Estilos Tablet 47em > 752px */
@media screen and (min-width:47em){
  
  .contenedor-columnas-establecimientos {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15%;
  }

  .establecimientos-imagen {
    width: 20em;
  }

  .establecimientos-descripcion {
    text-align: left;
    width: calc(100% - 21em);
    padding-left: 1em;
  }
  
}
